{% extends 'partials/base.html.twig' %}

{% block stylesheets %}
{% do assets.addCss('theme://css/style.min.css') %}
{% do assets.addCss('theme://css/glightbox.min.css') %}
{% endblock %}

{% block javascripts %}
{% do assets.addJs('theme://js/glightbox.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://js/popper.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://js/bootstrap.bundle.min.js', {group:'bottom'}) %}
{% do assets.addJs('theme://js/script.js', {group:'bottom'}) %}
{% endblock %}

{% block content %}

<div class="container mb-5">
  <div class="row">
    <div class="col-lg-7 col-12 mx-auto">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
  
</div>
<div class="container-fluid">
  <div class="row">
    {% for item in page.header.lightbox %}
    <div class="col-md col-12">
      <a href="{{ page.url()}}/{{item.obrazek}}" class="glightbox d-block" data-glightbox="description: {{ item.popis }}">
        {{ page.media[item.obrazek].width().height().html(item.popis, item.popis, 'img-fluid mb-md-0 mb-4')|raw }}
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="projekt-detail mb-lg-4 my-5 col-lg-7 mx-auto">{{ page.header.detaily|markdown }}</div>
    <div class="col-lg-7 col-12 mx-auto mb-4">
      {{ page.content|raw }}
    </div>

    {% if page.header.link %}    
    <div class="col-lg-7 col-12 mx-auto mb-5">
    <a href="{{ page.header.link }}" target="_blank" class="btn btn-primary">{{ page.header.text_tlacitka }}</a>
    </div>
    {% endif %}
  </div>
  
</div>

{% endblock %}

{% block bottom %}
{{ assets.js('bottom')|raw }}

<script>
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: false,
  });
</script>
{% endblock %}